.container {
    background-color: #00857a;
    align-items: center;
    justify-content: center;
    padding: 12px;
    color: #fff;
    font-weight: bold;
    font-size: 13px;
    position: fixed;
    white-space: nowrap;
    display: flex;
    user-select: none;
    border-radius: 20px;
    box-shadow: 0 2px 4px 0 #6f6f6f;
    touch-action: none;
    z-index: 10;
    cursor: pointer;
}

.close-button {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    left: 50%;
    border: 4px solid #e1e1e1;
    border-radius: 50%;
    background-color: #333;
    opacity: 0.75;
    transform: translateX(-50%);
    user-select: none;
    transition:
        transform 0.6s ease,
        bottom 0.6s ease;
    z-index: 8;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    z-index: 5;
    background: linear-gradient(#fff 40%, #000 90%);
}

.display-none {
    display: none;
}
