.container {
    background-color: #00857a;
    align-content: center;
    justify-content: center;
    padding: 12px;
    color: #fff;
    font-weight: bold;
    font-size: 13px;
    position: fixed;
    white-space: nowrap;
    display: flex;
    user-select: none;
    border-radius: 20px;
    box-shadow: 0 2px 4px 0 #6f6f6f;
    touch-action: none;
}

.icon {
    color: #fff;
}

.closeButton {
    position: fixed;
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 12px;
    color: #fff;
    left: 50%;
    border: 4px solid #e1e1e1;
    border-radius: 50%;
    background-color: #333;
    opacity: .75;
    transform: translateX(-50%);
    user-select: none;
    transition: transform 0.6s ease, bottom 0.6s ease;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    z-index: 5;
    background: linear-gradient(#fff 40%, #000 90%);
}

.visibility-hidden {
    visibility: hidden;
}

.opacity-50 {
    opacity: 0.5;
}